nav.z-2.box-border.flex.flex-col.mt-0.mb-0.pt-md,
div[slot="post-media-container"] {
  opacity: 0.2;
  filter: brightness(0.6);
  transition: opacity 0.4s ease-in-out, filter 0.4s ease-in-out;
  margin-top: 5px;
}


nav.z-2.box-border.flex.flex-col.mt-0.mb-0.pt-md:hover,
div[slot="post-media-container"]:hover {
  opacity: 1;
  filter: brightness(1);
}

.text-20.leading-4 {
  display: none !important;
}

.flex.shrink-0.items-center.justify-center.h-xl.w-xl {
  display: none !important;
}

reddit-sidebar-nav nav reddit-recent-pages {
  display: none;
}

faceplate-auto-height-animator div left-nav-moderation-controller {
  display: none;
}

faceplate-auto-height-animator div left-nav-communities-controller {
  display: none;
}

div aside recent-posts {
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out;
  border: 2px solid white;
  border-radius: 10px;
  filter: blur(1px);
  background-color: black;
   width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

div aside recent-posts:hover {
  opacity: 1;
  filter: blur(0px);
}

a.absolute.inset-0 {
  border: 3px solid #171c1f;;
  border-radius: 15px;
}

hr.border-0.border-b-sm.border-solid.border-b-neutral-border-weak {
  display: none;
}

span.flex.flex-wrap.text-12.gap-2xs.items-center.min-w-0.relative {
  margin-top: 3px;
}

div.i18n-translatable-text {
  display: none;
}

faceplate-banner{
  display: none;
}

feed-announcement {
  display: none !important;
}

#reddit-logo svg {
  display: none !important;
}

#reddit-logo {
  display: inline-block !important;
  width: 140px !important;
  height: 55px !important;
  background-image: url("https://i.ibb.co/HfHj8z6D/old-reddit.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  transform: scale(0.9);
}

.media-lightbox-img:hover {
  opacity: 1;
}

img.h-auto.w-full.max-w-full {
  border-radius: 5px;
}

a.author-name.whitespace-nowrap.text-neutral-content {
  text-transform: lowercase;
}

shreddit-player-2.block.h-full.w-full.max-h-full.max-w-full {
  filter: brightness(0.4);
  transition: filter 0.4s ease-in-out;
}

shreddit-player-2.block.h-full.w-full.max-h-full.max-w-full:hover {
  filter: brightness(1);
}

reddit-search-large {
  position: fixed;
  width: 500px;
  border: 2px solid white;
}

header.v2.bg-neutral-background.pointer-events-auto.border-solid.border-0.border-b.border-neutral-border.px-md > * > * > * > * > * > * {
  border-radius: 50px;
}

h1.text-24.font-bold.m-0 {
  display: none;
}

h2.m-0.text-16.text-neutral-content-strong.font-bold.truncate {
 display: none; 
}

.media-lightbox-img {
  opacity: 0.4;
  transition: opacity 0.2s ease;
}

reddit-search-large::before {
  background: white;
  border: 2px solid white;
}

reddit-header-large reddit-search-large[home-revamp-enabled]:defined:not(:focus-within)::after,
reddit-header-large reddit-search-large[show-ask-button]:defined:not(:focus-within)::after {
  background: none !important;
}
